{{#if user}}
  <div class="jumbotron text-center">
    <h1>LifeBridge</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
	  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://www.justpark.com/media/img/misc/avatar-st.png" class="img-circle img-responsive"> </div>
    </label>
	  <p>Name: {{user.fname}} {{user.lname}}</p>
      <p>Username: {{user.userName}}</p>
      <p>Status: {{user.stat}}</p>
	  <p>Fields of interest: filler for now</p>
    </div>
	<div class="panel-footer">
	<button id="viewMatches" button type="button" class="btn btn-primary">View Matches</button>
	<a href="/messages"><button id="inboxbtn" button type="button" class="btn btn-primary">View Messages</button></a>
	<span class="pull-right">
	<button id="editbtn" button type="button" class="btn btn-primary" onclick="window.location.href='editForm?id={{user.userID}}'">Edit Details</button>
	</span>
	</div>
  </div>

{{else}}
  <div class="jumbotron text-center">
    <h1>LifeBridge</h1>
    <p>Sign in and view your profile!</p><br>
    <p> Or </p><br>
    <p>Sign up and get started!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in / Sign up
      </a>
    </p>
  </div>

{{/if}}